@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome/Safari/Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

/* Add this in your global CSS */
.slider-dots-white .slick-dots li button:before {
  color: white;
  opacity: 0.5;
}
.slider-dots-white .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

html, body {
  overflow-y: scroll;      /* keeps the page scrollable */
  -ms-overflow-style: none;/* IE & Edge */
  scrollbar-width: none;   /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;           /* Chrome, Safari, Opera */
}